body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
    background-image: linear-gradient(to bottom right, #00F490, #00BBC9);
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.jumbotron {
     background-color:rgba(80, 26, 26, 0);
}

.drop-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}

.lead {
    color: white;
    font-size: 2.2rem;
}

.btn-outline-light {
    border-color:white;
}

.btn-outline-light:hover {
    background-color:rgba(255, 99, 71, 0.774);
}